/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Noto Serif', serif;
  font-family: 'Roboto', sans-serif; }

#splitter {
  height: 2px;
  background-color: #c8102e; }

nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
  box-shadow: 0 10px 5px -5px #c8102e;
  margin-bottom: 2%; }
  nav #about:hover {
    color: #c8102e;
    cursor: pointer; }

footer {
  height: 70px;
  background-color: #2d2926;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center; }
  footer #footer:hover {
    color: #c8102e;
    cursor: pointer; }

main {
  display: grid;
  grid-template-columns: 1fr; }
  main div {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
  main #cell2 {
    font-size: 24px;
    background: -webkit-linear-gradient(#2d2926, #c8102e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  main button {
    position: absolute;
    margin-left: 50%;
    margin-right: 50%;
    font-size: 62px;
    border: none;
    background: -webkit-linear-gradient(#2d2926, #eca154);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  main button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    opacity: 0.95; }
  main figure.cell1 {
    width: 100%; }
  main figure.cell1 img {
    width: 100%; }

@media only screen and (min-width: 560px) {
  header, main {
    max-width: 60rem;
    margin: 0 auto; }

  main {
    display: grid;
    column-gap: 4px;
    row-gap: 2px;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0 0 10px #000000; } }
/* end media query */
/* end media query */
